---
import siteConfig from '@/site-config'
import { getLinkTarget } from '@/utils/link'

const footerNavLinks = siteConfig.footer?.navLinks ?? []
---

<footer
  class="w-full mt-18 pt-6 pb-8 max-w-3xl text-sm flex flex-col gap-4 border-main border-t !border-op-50 text-dark dark:text-white"
>
  {
    footerNavLinks.length > 0 && (
      <div class="flex flex-wrap gap-4">
        {footerNavLinks.map((link: { text: string; href: string }, index: number) => (
          <>
            <a
              aria-label={link.text}
              target={getLinkTarget(link.href)}
              class="nav-link flex items-center"
              href={link.href}
            >
              {link.text}
            </a>
            {index < footerNavLinks.length - 1 && <span class="op-70"> / </span>}
          </>
        ))}
      </div>
    )
  }
  <div class="flex">
    <a class="nav-link" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a>
    <span class="op-70">&nbsp;&nbsp;©&nbsp;&nbsp;{new Date().getFullYear()}&nbsp;&nbsp;{siteConfig.author}.</span>
  </div>
</footer>
