---
import BaseLayout from '@/layouts/BaseLayout.astro'
import type { CollectionPosts, PostKey } from '@/types'
import { getPosts } from '@/utils/posts'

interface Props {
  post: CollectionPosts
}

export async function createPostPaths(collection: PostKey) {
  const posts = await getPosts(undefined, collection)
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }))
}

const { post } = Astro.props
const { title, image, description, date, lastmod, duration, tag } = post.data
const { Content } = await post.render()

function getDate(dateStr: string) {
  return new Date(dateStr).toISOString()
}
---

<BaseLayout title={title} description={description} pageType="article">
  <article class="prose">
    <h1>{title}</h1>
    <p class="op-50">
      {date && <time datetime={getDate(date)}>{date}</time>}
      {lastmod && <span class="op-70"> · Updated: {lastmod}</span>}
      {duration && <span> · {duration}</span>}
      {tag && <span> · {tag}</span>}
    </p>
    {
      image && (
        <p>
          <img width="640" height="360" src={image.src} alt={image.alt || ''} />
        </p>
      )
    }
    <Content />
  </article>
</BaseLayout>
